body {
    display: grid;
    place-items: center;
}

@media (max-width: 390px) {
    .upload-grid {
      flex: 1 1 100%; /* full width for smaller screens */
    }
}

.upload-grid {
    color: #e5e7eb; 
    display: flex;
    flex-wrap: wrap; 
    gap: 2vw; 
    margin-top: 5vh;
    /* margin-left:150px;
    margin-right:150px; */
    width: 100%; 
    justify-content: center;
    /* transform: scale(1.4);
    transform-origin: center;  */
    overflow: visible;
    margin-top: 20vh;
    /* max-width: 100%; */
}

.upload-box {
    background: rgb(255 255 255 / 35%);
    border-radius: 20px;
    padding: 25px 25px;
    padding-top: 0px;
    margin-top:0px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width:50%;
    height: fit-content;
}

.upload-options{
    width: 100%;
    justify-items: center;
}

.past-notes {
    flex: 1 1 48%; 
    flex-grow: 3;
    width:50%;
    min-width: 35%; 
    height: auto; 
    padding: 20px;
    box-sizing: border-box;
  }

.upload-text-title{
    color: white;
    font-size: 1.5rem;
    align-content: left;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}

.upload-fields{
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    padding: 10px 10px;
    width: 100%;
    /* max-width: f;  */
}

.field{
    width:100%;
    margin-bottom: 15px;
    height: 3vh;
    color:black;
    padding-left: 10px;
    box-sizing: border-box; 
}

.upload-button{
    width:100%; 
    background-color: rgb(57, 145, 57);
    border: none;
    color:white;
    padding: 10px 10px;
    border-radius: 15px;
}

.file-upload {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px; 
    width: 100%;
    box-sizing: border-box;
  }

  